<!-- Carousel -->
<section class="carousel">
    <div class="reel">

        <article>
            <a class="image featured"><img src="{{ "assets/images/maritime/rudder.svg" }}" alt="Schiffsruder" /></a>
            <header>
                <h3><a>Sie halten das Schiff auf dem eingeschlagenen Kurs</a></h3>
            </header>
            <p>
                Sie steuern das Schiff in Richtung Transformation der SWFL hin zu klimaneutraler Energie-Produktion.
                Sie haben die Kompetenz, im richtigen Moment die richtigen Entscheidungen zu treffen, auch wenn die Wetterlage sich ändert. 
            </p>
        </article>

        <article>
            <a class="image featured"><img src="{{ "assets/images/maritime/shake-hands.svg" }}" alt="Händeschütteln" /></a>
            <header>
                <h3><a>Sie kommunizieren mit Engagement und Teamgeist</a></h3>
            </header>
            <p>
                Sie suchen den Kontakt zu Unternehmen, mit denen sie das "Netzwerk der erneuerbaren Energie" im Umland von Flensburg weiter ausbauen können.
                Aufkommende Konflikte werden von Ihnen partnerschaftlich und respektvoll gelöst.
            </p>
        </article>

        <article>
            <a class="image featured"><img src="{{ "assets/images/maritime/lighthouse.svg" }}" alt="Leuchtturm" /></a>
            <header>
                <h3><a>Sie sind Orientierungspunkt und Leuchtfeuer in der Dunkelheit</a></h3>
            </header>
            <p>
                ... das die Transformation der SWFL zu klimaneutraler Energie-Produktion leitet. Sie kennen zukunftsorientierte 
                Konzepte der nachhaltigen Strom- und Wärmeerzeugung und haben Erfahrung bei der Führung eines mittelgroßen Industrie- und Dienstleistungsbetriebes.
            </p>
        </article>

        <article>
            <a class="image featured"><img src="{{ "assets/images/maritime/licht-auf.svg" }}" alt="Händeschütteln" /></a>
            <header>
                <h3><a>Sie integrieren Zukunftstechnologien zum Wohle aller</a></h3>
            </header>
            <p>
                CCU, PtX, KWK, GuD, Plasmalyse etc. sind für Sie alltägliches Vokabular und Sie sind immer auf dem neuesten Stand der Innovationen.
                Sie verbinden theoretisches Know-How mit praktischer Technikerfahrung und setzen sich über "Denkverbote" hinweg.
            </p>
        </article>

        <article>
            <a class="image featured"><img src="{{ "assets/images/maritime/give-money.svg" }}" alt="Hand reicht Geld" /></a>
            <header>
                <h3><a>Langfristiger wirtschaftlicher Erfolg hat einen hohen Stellenwert für Sie</a></h3>
            </header>
            <p>Reallabore und Förderungen auf Bundes- und Landesebene für innovative Projekte sind Ihnen vertraut. Sie gehen initiativ auf mögliche Finanzierungsquellen einer nachhaltigen wirtschaftlichen Entwicklung zu.</p>
        </article>

    </div>
</section>