{%- assign header_ipsum = "Gravida aliquam penatibus, Sed quis rhoncus placerat, Magna laoreet et aliquam" | split: ", " -%}
{%- capture lorem_ipsum -%}
    Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
    porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
{%- endcapture %}

<div class="row">
{%- for featureName in page.features -%}
{% assign feature = site.pages | where:"name",featureName | first %}
    <article class="col-4 col-12-mobile special">
        <a href="{{ feature.url | relative_url }}" class="image featured"><img src="{{ feature.preview_image | relative_url | default: "images/pic07.jpg" }}" alt="" /></a>
        <header>
            <h3><a href="{{ feature.url | relative_url }}">{{ feature.title | default: | default: header_ipsum[forloop.index0] }} →</a></h3>
        </header>
        <p>{{ feature.caption | default: feature.description | default: lorem_ipsum -}}</p>
    </article>
{% endfor %}
</div>
