
<hr class="first" />
<nav>
    <h4>Auf dieser Seite:</h4>
    {%- include toc.html html=content anchor_class="scrolly" -%}
</nav>
<hr>    
{% if page.sidebar.box %}
<section>
    <header>
        <h3>{{ page.sidebar.box.header }}</h3>
    </header>
    <p>{{ page.sidebar.box.content }}</p>
    <footer>
        <a href="{{ page.sidebar.box.button.link }}" class="button">{{ page.sidebar.box.button.text }}</a>
    </footer>
</section>
{% endif %}
{% if page.sidebar.figures %}
<hr />
<section>
    <header>
        <h3><a href="#">Sed lorem etiam consequat</a></h3>
    </header>
    <p>
        Tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
    </p>
    <div class="row gtr-50">
        <div class="col-4">
            <a href="#" class="image fit"><img src="{{ "images/pic10.jpg" | relative_url }}" alt="" /></a>
        </div>
        <div class="col-8">
            <h4>Nibh sed cubilia</h4>
            <p>
                Amet nullam fringilla nibh nulla convallis tique ante proin.
            </p>
        </div>
        <div class="col-4">
            <a href="#" class="image fit"><img src="{{ "images/pic11.jpg" | relative_url }}" alt="" /></a>
        </div>
        <div class="col-8">
            <h4>Proin sed adipiscing</h4>
            <p>
                Amet nullam fringilla nibh nulla convallis tique ante proin.
            </p>
        </div>
        <div class="col-4">
            <a href="#" class="image fit"><img src="{{ "images/pic12.jpg" | relative_url }}" alt="" /></a>
        </div>
        <div class="col-8">
            <h4>Lorem feugiat magna</h4>
            <p>
                Amet nullam fringilla nibh nulla convallis tique ante proin.
            </p>
        </div>
        <div class="col-4">
            <a href="#" class="image fit"><img src="{{ "images/pic13.jpg" | relative_url }}" alt="" /></a>
        </div>
        <div class="col-8">
            <h4>Sed tempus fringilla</h4>
            <p>
                Amet nullam fringilla nibh nulla convallis tique ante proin.
            </p>
        </div>
        <div class="col-4">
            <a href="#" class="image fit"><img src="{{ "images/pic14.jpg" | relative_url }}" alt="" /></a>
        </div>
        <div class="col-8">
            <h4>Malesuada fermentum</h4>
            <p>
                Amet nullam fringilla nibh nulla convallis tique ante proin.
            </p>
        </div>
    </div>
    <footer>
        <a href="#" class="button">Magna Adipiscing</a>
    </footer>
</section>
{% endif %}
